21.02.23 Python 데이터 구조

# 3장. 데이터 구조

# 1절. 리스트
- [ ]를 이용해 만들며 리스트를 이용하면 여러 개 값을 저장 및 관리 가능
- 리스트를 만들려면 대괄호(‘[’와 ‘]’)를 이용
- 인덱스를 이용해 읽기와 쓰기를 지원
- 부분 데이터셋을 뽑아내는 슬라이싱(slicing)을 지원
- 파이썬의 인덱스는 0부터 시작

In [1]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [4]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [5]:
print(fruits[0])

banana

In [6]:
for fruit in fruits : 
    print(fruit)

banana
apple
orange
grape

In [9]:
list(range(6)) 
# range(from, to, by) : from부터 to  앞까지 by씩 증가 되면서 만들어진 list
# from 생략시 (0부터 /by 생략시 1씩)

[0, 1, 2, 3, 4, 5]

In [10]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [11]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [1]:
for i in range(5):
    print(i, end='\t')

0	1	2	3	4

In [15]:
# 0번째 : banana........len(fruits): fruits 요소의 갯수
for idx in range(len(fruits)):
    print('{}번째 : {}'.format(idx, fruits[idx]))

0번째 : banana
1번째 : apple
2번째 : orange
3번째 : grape

In [2]:
numbers = [1, 2, 3, True, '5']

In [3]:
numbers

[1, 2, 3, True, '5']

In [5]:
numbers_2d = [[1,2,3,4,5], 
              [10,20,30,40,50],
              [1,3,5,7,9],
              [2,4,6,8,10]]

print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [6]:
numbers_2d[1][0]

10

In [24]:
for row in numbers_2d:
    for data in row:
        print(data, end='\t')
    print() # 프린트 개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [29]:
for i in range(len(numbers_2d)):  # len(numbers_2d) = 4
    for j in range(len(numbers_2d[i])):
        print("{}행{}열 : {:>2}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 :  1	0행1열 :  2	0행2열 :  3	0행3열 :  4	0행4열 :  5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 :  1	2행1열 :  3	2행2열 :  5	2행3열 :  7	2행4열 :  9
3행0열 :  2	3행1열 :  4	3행2열 :  6	3행3열 :  8	3행4열 : 10

## 1.2 기본 정보 조회

In [8]:
numbers = [1,2,3,4,5]
numbers_2d = [[1000,2,3,4,5],
             [10,20,30,40,50,],
             [1,3,5,7,9],
             [2,4,6,8,10]]

## 1.3 요소 수

In [32]:
print('numbers_2d[0]의 요소 수 : ', len(numbers_2d[0]))

numbers_2d[0]의 요소 수 :  5

In [33]:
# 최소값 min, 최대값 max
min(numbers), max(numbers)

(1, 5)

In [34]:
# 2차원 리스트에서는 max() 함수는 부분 리스트 중 텃 요소가 가장 큰 값을 갖는 리스트를 반환
#                 min() 함수는 부분 리스트 중 첫요소가 가장 작은 값을 갖는 리스트를 반환
min(numbers_2d), max(numbers_2d)

([1, 3, 5, 7, 9], [1000, 2, 3, 4, 5])

In [ ]:
# 요소 추가

In [ ]:
# + 두 리스트를 연결
# * 리스트를 곱한 수 만큼 반복
# append() 리스트를 요소별로 맨 뒤에 추가
# insert() 지정된 index 위치에 삽입

In [35]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers # 리스트에 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [36]:
numbers = [1,2,3]
print(numbers * 3) # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
print('ABC' * 3)

ABCABCABC

In [38]:
# append() 함수 이용
numbers = [1,2,3]
numbers.append(4) # 요소의 맨 뒤에 추가
numbers

[1, 2, 3, 4]

In [40]:
# extend()
numbers = [1,2,3]
num = [4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [41]:
numbers.extend('Hello')
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [42]:
# insert(idx, 추가할내용) : idx 번째 인덱스에 추가할 내용 삽입
numbers = [1,2,3,4,5]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

In [44]:
numbers = [1,2,3], [1,2,3], [1,2,3]
numbers_2d = [[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

([1, 2, 3], [1, 2, 3], [1, 2, 3])
[[1, 2, 3], [1, 2, 3]]

In [48]:
numbers.count(2) # 2가 몇개 있는지

0

In [46]:
numbers.count(9)

0

In [47]:
numbers.count([1,2,3])

3

In [52]:
numbers = [1,3,5,7,9]
numbers.index(3)
numbers.index(3,5)

ValueError: 3 is not in list

## 1.5 원하는 리스트 내용만 추출
- 리스트 슬라이싱, 인덱스보다 많이 사용

In [53]:
numbers = [1,2,3,4,5]

In [54]:
numbers[2:9] # 2부터 9번 인덱스 바로 앞까지 (해당 인덱스가 없을경우 끝까지)

[3, 4, 5]

In [55]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [56]:
numbers[::]

[1, 2, 3, 4, 5]

In [57]:
numbers[-5:-1]

[1, 2, 3, 4]

In [58]:
numbers[-1:-5] #-1부터 -5 바로 전까지 by(1)씩 인덱스를 전진하며 엑세스

[]

In [59]:
numbers_2d = [[1,2,3],[10,20,30],[11,12,13],[21,22,23]]
numbers_2d[1:3]

[[10, 20, 30], [11, 12, 13]]

In [60]:
numbers_2d[0][1:3]

[2, 3]

In [ ]:
# 람다식을 이용한 list의 원하는 데이터 엑세스

In [62]:
numbers = [1,3,5,9,10,12,13,18,19,20]

# 모든 데이터 가져오기
# for data in numbers:
#    print(data)
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [63]:
# 짝수 데이터만 가져오기
# for x in numbers:
#    if x%2 == 0:
#        print(x)

[x for x in numbers if x%2 == 0]

[10, 12, 18, 20]

In [64]:
# 10 이상의 데이터만 list로 가져오기
[x for x in numbers if x >= 10]

[10, 12, 13, 18, 19, 20]

In [92]:
# 과일의 글씨가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruits for fruits in fruits if len(fruits) >= 5]

['orange', 'apple', 'mango']

In [97]:
# 리스트의 값의 제곱을 추출하라
L = [1,2,3,4,5]
[x**2 for x in L]

[1, 4, 9, 16, 25]

In [98]:
# 리스트의 값의 세제곱을 추출하라
L = [1,2,3,4,5]
[x**3 for x in L]

[1, 8, 27, 64, 125]

In [99]:
# 리스트의 값의 두배의 수를 추출하라
L = [1,2,3,4,5]
[x*2 for x in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [1]:
numbers = [0,1,2,3,4,5,6,7,8,9] #부분 리스트를 통째로 바꾼다.(슬라이싱)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
numbers[0:5]=[999,999,999,999,999]
numbers

[999, 999, 999, 999, 999, 9]

In [6]:
numbers[2] = 222
numbers

[999, 999, 222, 999, 999, 9]

In [8]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[0:5] = numbers[5:]
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [11]:
# 슬라이싱에서 by를 추가
numbers = [0] * 10
print('수정전 : ', numbers)
numbers[::2] = [99,99,99,99,99]
print('수정후 : ', numbers)

수정전 :  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 :  [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

In [ ]:
# 슬라이싱에서 by가 포함될 경우 바꾸려는 값의 갯수가 맞아야 한다.
numbers[::2] = [11,11,11]

## 1.7 데이터 삭제하기
- pop() : 가장 마지막 요소 반환후 삭제, pop(n): n번째 요소가 반환되고 삭제
- remove() : remove(data)-> 해당 데이터 삭제
- del : 지정된 위치 항목 삭제, 뱐수삭제

In [12]:
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
print(numbers.pop(2))
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [14]:
numbers_2d = [[1,2,3],[10,20,30],[100,200,300]]
print('pop전', numbers_2d)
print(numbers_2d.pop())
print('pop 후', numbers_2d)

pop전 [[1, 2, 3], [10, 20, 30], [100, 200, 300]]
[100, 200, 300]
pop 후 [[1, 2, 3], [10, 20, 30]]

In [16]:
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers.remove(5)) # 반환값이 없다.
numbers

None

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [17]:
numbers.remove(99) # 없는값을 삭제 하려면 에러발생

ValueError: list.remove(x): x not in list

In [19]:
print(numbers)
del numbers[2] # 변수삭제
print(numbers)

[0, 1, 2, 3, 4, 6, 7, 8, 9]
[0, 1, 3, 4, 6, 7, 8, 9]

In [20]:
del numbers
numbers

NameError: name 'numbers' is not defined

In [23]:
numbers = [0,1,2,3,4]
print("clear 전 : ", numbers)
numbers.clear()
#del numbers[:]
print("clear 후 : ", numbers)

clear 전 :  [0, 1, 2, 3, 4]
clear 후 :  []

## 1.8 정렬하기

In [24]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬은 오름차순, sort 실행 후  리스트가 바뀜
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [25]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬은 오름차순, sort 실행 후  리스트가 바뀜
numbers[::-1] # 내림차순으로 출력되나 리스트는 바뀌지 않음

[9, 8, 6, 5, 4, 2, 1, 0]

In [26]:
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [28]:
numbers.sort(reverse=True) # 내림차순 정렬 및 리스트 변경
print(numbers)

[9, 8, 6, 5, 4, 2, 1, 0]

In [29]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [30]:
numbers = numbers[::-1] # reverse() 함수와 같은 명령어
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

## 1.9 리스트 복제

In [31]:
numbers = [6,2,7,4,10]
new_numbers = numbers #정렬전 데이터
numbers.sort() #numbers는 정렬된 데이터로
print('정렬전 데이터 : ', new_numbers)
print('정렬후 데이터 : ', numbers)

정렬전 데이터 :  [2, 4, 6, 7, 10]
정렬후 데이터 :  [2, 4, 6, 7, 10]

In [33]:
# 리스트 복제
numbers = [6,2,7,4,10]
new_numbers = numbers.copy() # new_numbers에 number 데이터를 복제
numbers.sort()
print('정렬전 : ', new_numbers)
print('정렬후 : ', numbers)
print('new_numbers 데이터 주소 : ', id(new_numbers))
print('numbers 데이터 주소 : ', id(numbers))

정렬전 :  [6, 2, 7, 4, 10]
정렬후 :  [2, 4, 6, 7, 10]
new_numbers 데이터 주소 :  2225299630400
numbers 데이터 주소 :  2225308852480

In [34]:
city = ['서울','부산','인천','광주','울산']
city.sort()
city

['광주', '부산', '서울', '울산', '인천']

In [35]:
' '.join(city)

'광주 부산 서울 울산 인천'

# 2절. 튜플
- 리스트와 유사하지만, 읽기 전용, 수정이 필요없는 배열 형태의 데이터 타입에 사용
- 데이터를 수정할 수 없기 때문에 제공되는 함수가 많지 않음

In [36]:
city = ('서울', '부산', '인천', '대구', '대전')
type(city)

tuple

In [37]:
'-'.join(city)

'서울-부산-인천-대구-대전'

In [39]:
l = ['서울'] #요소가 하나 있는 리스트
print(type(l))
print(l)

<class 'list'>
['서울']

In [40]:
city = ('서울',) # 요소가 한개 있는 튜플(X)
print(type(city),len(city))
print(city)

<class 'tuple'> 1
('서울',)

In [41]:
numbers = 1,2,3 # 여러개의 값이 나열될 때는 자동적으로 튜플처리
type(numbers)

tuple

In [42]:
min(numbers), max(numbers), len(numbers)

(1, 3, 3)

In [43]:
numbers = (1,2,1,2,3)
numbers.count(2)

2

In [44]:
numbers.index(3) # index(3) 의 값을 반환

4

In [45]:
data = (0,1,2,3,4,(5,6))
data[2:5]

(2, 3, 4)

In [46]:
data[::-1]

((5, 6), 4, 3, 2, 1, 0)

In [47]:
data[5:9:2]

((5, 6),)

In [48]:
data = ('서울', 2 , True)
data * 3

('서울', 2, True, '서울', 2, True, '서울', 2, True)

In [49]:
del data

# 3절. 딕셔너리 
cf. 자바에서의 hashmap과 동일
- 중괄호({})를 이용해서 딕셔너리 생성, 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용 안함), 키에 리스트는 사용 불가, 키에 tuple은 가능.
- 값은 중복 가능, 모든 데이터 타입이 가능
- 없는 키의 값을 참조하면 에러발생
- 인덱스를 이용한 참조는 지원 안함

In [50]:
dic = {'key1':'value','key2':'value'}
len(dic) # 데이터 구조의 요소 갯수

2

In [51]:
my_favorite = {'fruit':'apple', 'number':1, 'sport':'football'}
my_favorite

{'fruit': 'apple', 'number': 1, 'sport': 'football'}

In [52]:
my_favorite.get('fruit')

'apple'

In [54]:
my_favorite['fruit']

'apple'

In [55]:
my_favorite['people'] # 키 목록에 없는 데이터 참조시 에러

KeyError: 'people'

In [56]:
my_favorite[0] # 인덱스를 이용한 참조는 지원 안함

KeyError: 0

In [57]:
my_favorite = {'fruit':'apple', 'number':1, 'sport':'football'}
my_favorite['fruit'] = 'banana'
my_favorite

{'fruit': 'banana', 'number': 1, 'sport': 'football'}

In [58]:
# 키 : 문자, 숫자, 튜플, 중복불가
# 값 : 모든 문자 타입, 중복 가능
my_dicl = {1:'Hello', 2:'World', 2:'Python'}
my_dicl

{1: 'Hello', 2: 'Python'}

In [63]:
my_dicl['people'] = ['홍길동','홍길순'] # my_dicl에 요소추가
my_dicl['study'] = ['python','hadoop'] # 추가
my_dicl[1] = 'HI'
# my_dicl.append('people':['홍길동','홍길순']) 불가
my_dicl

{1: 'HI',
 2: 'Python',
 'people': ['홍길동', '홍길순'],
 'sty': ['python', 'hadoop'],
 'study': ['python', 'hadoop']}

In [64]:
del my_dicl['study']
my_dicl

{1: 'HI', 2: 'Python', 'people': ['홍길동', '홍길순'], 'sty': ['python', 'hadoop']}

In [65]:
my_dic2 = {'name':'Hong','name':'KilDong','age':30}
my_dic2

{'name': 'KilDong', 'age': 30}

In [66]:
# 키 목록에서 True와 1은 같은 값으로 간주, False와 0은 같은 키로 간주
my_dic3 = {1:'Hello', True:'World', False:'Python', 0:'Hadoop'}
my_dic3

{1: 'World', False: 'Hadoop'}

In [164]:
my_list = ['홍길동',25,'010-9999-9999']
my_tupple = ('홍길동',25,'010-9999-9999')
for data in my_tupple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_list)):
    print("{}번째 데이터 {}".format(idx, my_tupple[idx]) , end='\t')

홍길동	25	010-9999-9999
0번째 데이터 홍길동	1번째 데이터 25	2번째 데이터 010-9999-9999

In [72]:
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-9999'}

for data in my_dic:
    print(data, end='\t')

name	age	tel

In [73]:
my_dic.keys() # 키 목록만 출력

dict_keys(['name', 'age', 'tel'])

In [74]:
my_dic.values() # 값들만 반환

dict_values(['홍길동', 25, '010-9999-9999'])

In [75]:
my_dic.items() # 튜플로 이루어진(키,값)들을 반환

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [79]:
for key in my_dic:
    print(key, end='\t')

name	age	tel

In [82]:
for key in my_dic.keys():
    print(key, end='\t')

name	age	tel

In [84]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	25	010-9999-9999

In [85]:
for item in my_dic.items():
    print(item, end='\t')

('name', '홍길동')	('age', 25)	('tel', '010-9999-9999')

In [86]:
for key, value in my_dic.items():
    print("{}은 {}".format(key,value), end='\t')

name은 홍길동	age은 25	tel은 010-9999-9999

**in 연산자**

In [87]:
my_favorite = {'fruit':'apple','number':1,'sports':'football'}
'football' in my_favorite

False

In [88]:
'sports' in my_favorite

True

In [91]:
my_favorite
# 할당
new_my_favorite = my_favorite
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite :  {'fruit': 'apple', 'number': 1, 'sports': 'football'}
my_favorite :  {'fruit': 'apple', 'number': 1, 'sports': 'football'}

In [92]:
my_favorite['number'] = '다 좋아'
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sports': 'football'}
my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sports': 'football'}

# 4절. 셋 만들기
- 중복을 허용하지 않는 집합(순서 X )
- 생성시 중괄호 사용({})나 set() 함수를 이용하여 셋 생성
    set(딕셔너리타입의 변수) : 딕셔너리 변수의 키값만 셋에 추가
- 집합 연산자(&: 교집합, |: 합집합, -: 차집합)

In [93]:
fruits = {'apple', 'orange', 'banana', 'banana'}
fruits

{'apple', 'banana', 'orange'}

In [101]:
s1 = set([1,2,3,1])
s1

{1, 2, 3}

In [95]:
s1.add(4)
s1.add(1)
s1

{1, 2, 3, 4}

In [103]:
s1.add((5,6,7,8,9))
s1

{(5, 6, 7, 8, 9), 1, 2, 3}

In [97]:
s1.add([10,11]) # add 함수는 list 인수 추가 불가

TypeError: unhashable type: 'list'

In [98]:
s1.add({'name':'kil'}) # add 함수는 dictionary 함수 추가 불가

TypeError: unhashable type: 'dict'

In [104]:
s1.update({'name':'KilDong'}) # 딕셔너리는 키값만 추가
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 'name'}

In [105]:
s1.remove('name') # 튿정요소 삭제(없는 데이터의 경우 에러)
s1

{(5, 6, 7, 8, 9), 1, 2, 3}

In [106]:
s1 = {0,False,True,1} # False와 0, True와 1을 같은 값으로 간주
s1

{0, True}

In [107]:
s1 = {1,2,3,4,5,6}
s2 = {1,5,6,7,8,9}
s1,s2

({1, 2, 3, 4, 5, 6}, {1, 5, 6, 7, 8, 9})

In [108]:
#합집합
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [109]:
#교집합
s1 & s2

{1, 5, 6}

In [110]:
# 차집합
s1 - s2

{2, 3, 4}

In [112]:
names = {'kildong', 'kilja', 'sunja'}

for name in names:
    print(name, end='\t')

sunja	kildong	kilja

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결

In [113]:
for index, name in enumerate(names):
    print('{}번째 이름은 {}입니다.'.format(index+1, name))

1번째 이름은 sunja입니다.
2번째 이름은 kildong입니다.
3번째 이름은 kilja입니다.

In [116]:
L = ['말자','순자','길동']

for idx, name in enumerate(L):
    print('{}번째 : {}'.format(idx, name))

0번째 : 말자
1번째 : 순자
2번째 : 길동

In [117]:
dic = {"name":"홍길동", "age":35, "address":"마포"}
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '마포'))]

In [ ]:
for idx, (key, value) in enumerate(dic.items()):
    print("{}번째 키는 {}, 값은 {}".format())

## 연습문제

In [157]:
numbers = [1,2,4,5,6,7,8,9,10]
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 4, 5, 6, 7, 8, 9, 10, 100]

In [158]:
# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [128]:
# 3. 처음 다섯 개 숫자만 출력하세요
numbers[:5:]

[1, 2, 4, 5, 6]

In [156]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
numbers[::2]

[0, 0, 0, 0, 0, 0, 0]

In [160]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
numbers[::2] =[0] * len(numbers[ : : 2])
numbers

[0, 2, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]

In [161]:
# 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers.sort(reverse=True)
numbers

[500, 300, 100, 9, 7, 5, 2, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
# member_info = {“name”:”홍길동”, “age”:20,”address”:”서울시 마포구“,“sore”:90}

In [147]:
# 7. address값을 출력하세요
member_info = {'name':'홍길동', 'age':20,'address':'서울시 마포구','score':90}
member_info['address']

'서울시 마포구'

In [146]:
# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요.
member_info['score']
del member_info

In [149]:
# 9. Address를 “서울시 서대문구”로 변경하세요.
member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

In [ ]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [163]:
list(member_info.values())

['홍길동', 20, '서울시 서대문구', 90]

In [165]:
# 서술형 연습문제 1
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [166]:
# 4
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [167]:
# 5
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [168]:
# 6. 
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
numbers

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [169]:
# 8
my_dic = {"a":10, "b":20, "c":30}
print(my_dic['a'])
print(list(my_dic.items())[0][1])
print(list(my_dic.values())[0])
print(my_dic.get('a'))

10
10
10
10